---
---

@import "{{ site.theme }}";

#title:before {
	display:block;
	width:200px;
	height:200px;
	background-image: url('/aurora/logo-kxmn-dev.png?v2');
	float:left;
	content="";
}
section #title h1 {
	line-height:100px;
}
section #title h1, a:link a:visited a:hover {
	color:#f60;
}
@media only screen and ( max-width:600px ) {
	#title:before {
		float:none;
	}
}
